{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8 col-md-5">
            <h1>Edit Record</h1>
            <p>
                <a href="{{url_for('records')}}">Cancel</a> |
                <a href="{{url_for('view_record', id=id)}}">View</a>
            </p>
            <form action="" method="POST">
                {{form.hidden_tag()}}
                <div class="form-group">
                    {{form.artist.label}}
                    {{form.artist(size=100, class="form-control")}}
                </div>
                {% for error in form.artist.errors %}
                <span>{{error}}</span>
                {% endfor %}
                <div class="form-group">
                    {{form.album.label}}
                    {{form.album(size=100, class="form-control")}}
                </div>
                {% for error in form.album.errors %}
                <span>{{error}}</span>
                {% endfor %}
                <div class="form-group">
                    {{form.year_released.label}}
                    {{form.year_released(class="form-control")}}
                </div>
                {% for error in form.year_released.errors %}
                <span>{{error}}</span>
                {% endfor %}
                <div class="form-group">
                    {{form.year_printed.label}}
                    {{form.year_printed(class="form-control")}}
                </div>
                {% for error in form.year_printed.errors %}
                <span>{{error}}</span>
                {% endfor %}
                <div class="form-group">
                    {{form.condition.label}}
                    {{form.condition(class="form-control")}}
                </div>
                {% for error in form.condition.errors %}
                <span>{{error}}</span>
                {% endfor %}
                <p>{{form.submit(class="btn btn-primary btn-block")}}</p>
            </form>
        </div>
    </div>
</div>
{% endblock %}