{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-3">Showcase</h1>
    <p class="lead">
        Here you can see records from all users.
    </p>
</div>
<table class="table">
    <tr>
        <th>Artist</th>
        <th>Album</th>
        <th>Year Released</th>
        <th>Year Printed</th>
        <th>Condition</th>
        <th>Owner</th>
        <th></th>
    </tr>
    {% for record in records %}
    <tr>
        <td>{{record.artist}}</td>
        <td>{{record.album}}</td>
        <td>{{record.year_released}}</td>
        <td>{{record.year_printed}}</td>
        <td>{{record.condition}}</td>
        <td><a href="{{url_for('user', username=record.user.username)}}">{{record.user.username}}</a></td>
        <td><a href="{{url_for('view_record', id=record.id)}}">View</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}