{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center my-5">
        <div class="col-3">
            <div class="card">
                <img class="card-img-top" src="{{user.avatar(500)}}">
                <div class="card-body">
                    <h5 class="card-title">{{user.username}}</h5>
                    <p class="card-text">
                        Last Seen: {{moment(user.last_seen).format('L')}}
                    </p>
                    {% if user.about_me %}
                    <p class="card-text">{{user.about_me}}</p>
                    {% endif %}
                    {% if user == current_user %}
                    <a href="{{url_for('edit_profile')}}" class="btn btn-primary">Edit Profile</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-9">
            <table class="table">
                <tr>
                    <th>Artist</th>
                    <th>Album</th>
                    <th>Year Released</th>
                    <th>Year Printed</th>
                    <th>Condition</th>
                </tr>
                {% for record in user.records %}
                <tr>
                    <td>{{record.artist}}</td>
                    <td>{{record.album}}</td>
                    <td>{{record.year_released}}</td>
                    <td>{{record.year_printed}}</td>
                    <td>{{record.condition}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}