{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
    <h1 class="display-3">Community</h1>
    <p class="lead">
        This is where you can find and meet other record collectors like yourself.
    </p>
</div>
<div class="container my-3">
    <div class="row d-flex justify-content-center">
        {% for user in users %}

        <!-- <div class="col align-items-center"> -->
        <div class="card m-2" style="width: 18rem;">
            <img class="card-img-top" src="{{user.avatar(500)}}">
            <div class="card-body">
                <h5 class="card-title">{{user.username}}</h5>
                {% if user.about_me %}
                <p class="card-text">{{user.about_me}}</p>
                {% endif %}
            </div>
            <div class="card-footer" style="background: transparent; border-top:none">
                <a href="{{url_for('user', username=user.username)}}" class="btn btn-primary btn-block">View Profile</a>
            </div>
        </div>
        <!-- </div> -->

        {% endfor %}
    </div>
</div>

{% endblock %}